.flex-container {
    border: 2px solid blue;
    width: 400px;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.flex-item {
    border: 2px solid black;
    background-color: #eee;
    padding: 20px;
}

.flex-grow-one .flex-item {
    flex-grow: 1;
}

.flex-grow-2nd-only .flex-item:nth-child(2) {
    flex-grow: 1;
}

.flex-grow-proportionally .flex-item:nth-child(1) {
    flex-grow: 1;
}

.flex-grow-proportionally .flex-item:nth-child(2) {
    flex-grow: 2;
}

.flex-grow-proportionally .flex-item:nth-child(3) {
    flex-grow: 3;
}